.notification-item-container {
  margin-left: 2px;
}

.notification-item {
  background-color: black;
  color: white;
  border-radius: 5px 5px;
  padding: 1px 3px;
  line-height: 100%;
}

.notification-item-important {
  background-color: red;
  color: white;
}
