/* share */

@media screen and (max-width: 500px) {
  .tab-item-caption-responsive {
    display: none;
  }

  .tab-item-icon-responsive {
    font-size: 1.8em !important;
  }
}

.tab-item-caption {
  margin-top: 6px;
  font-weight: 100;
  font-size: 0.8em;
  line-height: 100%;
}

.tab-item-icon {
  font-size: 1.5em;
  line-height: 100%;
}

.tab-item-icon-notification-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-item-icon-notification {
  display: flex;
  align-items: center;
}
