/* share */

@media screen and (max-width: 480px) {
  .tab-item-caption-responsive {
    display: none;
  }

  .tab-item-icon-responsive {
    font-size: 1.8em !important;
  }

  .tab-item-underline-responsive {
    margin-top: 8px !important;
  }
}

.tab-item-caption {
  margin-top: 6px;
  font-weight: 100;
  font-size: 0.8em;
  line-height: 100%;
}

.tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  cursor: pointer;
  /* margin: 0 15px; */
}

.tab-item-icon {
  font-size: 1.5em;
  line-height: 100%;
}

.tab-item-icon-notification-caption {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.tab-item-icon-notification {
  display: flex;
  align-items: center;
}

.tab-item-underline {
  margin-top: 3px;
  height: 3px;
  width: 100%;
}
