/* share */

@media screen and (max-width: 530px) {
  .tab-item-caption-responsive {
    display: none;
  }
}

.tab-item-caption {
  margin-top: 5px;
  font-weight: 100;
  font-size: 0.8em;
  line-height: 100%;
}

.tab-item {
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  cursor: pointer;
  margin: 0 12px;
}

.tab-item-icon-notification-caption {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.tab-item-icon-notification {
  display: flex;
  align-items: center;
}

.tab-item-underline {
  height: 2px;
  width: 100%;
  background-color: transparent;
}
