.App-body {
  margin: 0 auto;
  margin-top: 20px;
  width: 960px;
}

.App-header {
  padding: 5px;
  color: black;
  text-align: center;
}

.ReactModal__title {
  text-align: center;
  margin: 40px;
}

.ReactModal__Content {
  margin: 0 auto;
  width: 960px;
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 150ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

.btn {
  margin-right: 2px;
  margin-left: 2px;
}

#ConnectionManagement-react {
  padding-top: 20px;
}
