.app-container {
  width: 700px;
  margin: 0 auto;
  padding: 0 30px;
}

.ReactModal__title {
  text-align: center;
  margin: 40px;
}

.ReactModal__Content {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  min-width: 700px;
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 150ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

#ConnectionManagement-react {
  padding-top: 20px;
}
