.App {
  /* text-align: center; */
  margin: 0 auto;
  width: 1300px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 120px;
  padding: 5px;
  color: black;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.Tab-list {
  text-align: center;
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactModal__title {
  text-align: center;
  margin: 40px;
}

.ReactModal__Content {
  margin: 0 auto;
  width: 960px;
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 150ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}
