.App-body {
  margin: 0 auto;
  margin-top: 40px;
  width: 1300px;
}

.App-header {
  padding: 5px;
  color: black;
  text-align: center;
  background-color: rgb(236, 236, 236);
}

.Tab-list {
  text-align: center;
  font-size: 1.5em;
}

.ReactModal__title {
  text-align: center;
  margin: 40px;
}

.ReactModal__Content {
  margin: 0 auto;
  width: 960px;
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 150ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}
