.react-tabs__tab-list {
  background-color: antiquewhite;
  text-align: center;
}

.react-tabs__tab {
  display: inline-block;
  padding: 6px 15px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  box-shadow: 0 0 10px hsl(208, 99%, 50%);
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
