.react-tabs__tab-list {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.react-tabs__tab {
  padding: 6px 15px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.tab-pannel-hide {
  display: none;
}
