.in-post-item {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.in-post-item-heading {
  margin-bottom: 10px;
}

.in-post-item-body {
  margin-bottom: 10px;
}
