/* custom */
.appComponent-tab-item-select {
  color: maroon;
}
.appComponent-tab-item-unSelect {
  color: rgb(214, 174, 139);
}
.appComponent-tab-item-hover:hover {
  color: maroon;
}
.appComponent-tab-item-underline-select {
  background-color: maroon;
}
