/* share */
@media screen and (min-width: 530px) {
  .tab-item-caption {
    margin-top: 5px;
    font-weight: 100;
    font-size: 0.8em;
    line-height: 100%;
  }
}

@media screen and (max-width: 530px) {
  .tab-item-caption {
    display: none;
  }
}

.tab-item {
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin: 0 12px;
}

.tab-item-icon-notification-caption {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.tab-item-icon-notification {
  display: flex;
  align-items: center;
}

.tab-item-caption {
  margin-top: 5px;
  font-weight: 100;
  font-size: 0.8em;
  line-height: 100%;
}

.tab-item-underline {
  height: 2px;
  width: 100%;
  background-color: transparent;
}

/* custom */
.app-header-tab-item-select {
  color: white;
}
.app-header-tab-item-unSelect {
  color: rgb(192, 203, 211);
}
.app-header-tab-item-hover:hover {
  color: white;
}

.app-header-tab-item-underline-select {
  background-color: white;
}
