/* custom */
.app-header-tab-item-select {
  color: white;
}
.app-header-tab-item-unSelect {
  color: rgb(192, 203, 211);
}
.app-header-tab-item-hover:hover {
  color: white;
}

.app-header-tab-item-underline-select {
  background-color: white;
}
.app-header-tab-item-container-first {
  margin-right: 20px;
}
.app-header-tab-item-container-last {
  margin-left: 20px;
}
.app-header-tab-item-container-middle {
  margin: 0 20px;
}
