.app-header-container {
  width: 100%;
  background-color: rgb(36, 54, 65);
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 53px;

  max-width: 700px;
  min-width: 460px;
  margin: 0 auto;
  padding: 0 30px;
}

.app-header-text-icon {
  font-weight: lighter;
  font-size: 1.3em;
}

.app-header-right-side {
  display: flex;
  align-items: center;
}
