.app-header-nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  color: rgb(192, 203, 211);
}

.app-header-nav-item:hover {
  color: white;
}

.app-header-nav-item-select {
  color: white;
}

.app-header-nav-item-icon-with-notification {
  display: flex;
  align-items: center;
}

.app-header-nav-item-notification {
  font-weight: 100;
  font-size: 0.9em;
}

.app-header-nav-item-caption {
  font-weight: 100;
  font-size: 0.8em;
  height: 13px;
}
