.app-header-profile {
  display: flex;
  align-items: center;
  margin-left: 13px;
}

.app-header-profile-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.app-header-profile-image-caption {
  margin-top: 3px;
  font-weight: 100;
  font-size: 0.8em;
  line-height: 100%;
}
