.app-header-nav-item {
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 8px;
  color: rgb(192, 203, 211);
}

.app-header-nav-item-main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.app-header-nav-item-underline {
  height: 2px;
  width: 100%;
  background-color: transparent;
}

.app-header-nav-item-underline-select {
  background-color: white;
}

.app-header-nav-item:hover {
  color: white;
}

.app-header-nav-item-select {
  color: white;
}

.app-header-nav-item-icon-with-notification {
  display: flex;
  align-items: center;
}

.app-header-nav-item-notification {
  font-weight: 100;
  font-size: 0.9em;
}

.app-header-nav-item-caption {
  margin-top: 5px;
  font-weight: 100;
  font-size: 0.8em;
  line-height: 100%;
}
