.app-header {
  display: flex;
  color: white;
  height: 100%;
}

.appHeader-tabBar-container {
  align-self: flex-end;
}

.appHeader-appIcon-container {
  align-self: center;
  flex-grow: 1;
}

.appHeader-googleLogIn-container {
  align-self: center;
}

.appHeader-authCheck-container {
  align-self: center;
}
